/* default = buat pc */
@font-face {
    font-family: 'Abhaya Libre Regular';
    src: url(fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf);
}

/* buat tablet */
@media (max-width: 1080px) {
    
    .header{
        display: none;
    }

    .responsive-header
    {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #dbbaa0;
        padding-top: 1%;
    }

    .responsive-header-wrapper img{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        text-align: center;
        /* height: 8%; */
        float: left;
        
    }

    #menubar{
        /* float: left; */
        display: inline-block;
        left: 0;
        width: 10%;
       
    }
    #logo{
        /* float: left; */
        height: 20%;
        width: 20%;
        display: inline-block;
        margin-left: 30%;
        margin-right: 30%;
    }
    #searchbar{
        /* float: right; */
        display: inline-block;
        right: 0;
        width: 10%;
    }
    
    .main
    {
        margin: 5% 20% 0% 0%;
        align-items: center;
        padding: 15% 0% 20% 0%;
    }

    .sign-up-wrapper {
        width: 60%;
        align-items: center;
        margin: 0%;
    }

    .footer p{
        font-family: 'Abhaya Libre Regular';
    }

    .footer .text1
    {
        display: none;
    }
}

/* buat smartphone */
@media (max-width: 720px) {

    .header{
        display: none;
    }

    .responsive-header
    {
        display: block;
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        background-color: #dbbaa0;
        padding-top: 1%;
    }

    .responsive-header-wrapper img{
    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-content: space-between;
        text-align: center;
        /* height: 8%; */
        float: left;    
    }

    #menubar{
        /* float: left; */
        display: inline-block;
        left: 0;
        width: 10%;
       
    }
    #logo{
        /* float: left; */
        height: 20%;
        width: 20%;
        display: inline-block;
        margin-left: 30%;
        margin-right: 30%;
    }
    #searchbar{
        /* float: right; */
        display: inline-block;
        right: 0;
        width: 10%;
    }

    .main {
        margin: 10% 12% 10% 0%;
        align-items: center;
    }

    .sign-up-wrapper {
        width: 75%;
        align-items: center;
        margin: 0%;
    }

    .sign-up-wrapper h1{
        font-size: 20px;
    }

    .footer p{
        font-family: 'Abhaya Libre Regular';
    }

    .footer .text p{
        /* margin-left: 3% 0% 0% 2%;
        display: inline-block;
        font-size: 10px;
        height: 5%; */
        /* float: left; */
        display: none;
    }

    .social-media {
        padding: 10% 2% 12% 2%;
    }

    .social-media p{
        font-size: 10px;
    }

    .footer .text1{
        display: none;
    }
}