@font-face {
    font-family: 'Abhaya Libre Regular';
    src: url(fonts/Abhaya_Libre/AbhayaLibre-Regular.ttf);
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    40% {
        opacity: 0.3;
    }

    60% {
        opacity: 0.5;
    }

    80% {
        opacity: 0.9;
    }

    100% {
        opacity: 1;
    }
}

html{
    height: 100%;
    width: 100%;
    /* display: flex; */
    background-image: url(https://i.ibb.co/551Q7H8/background.png);
    background-size: cover;
}

body{
    
    /* height: 780px; */
    /* width: 1024; */
    height: 100%;
    /* width: 100%; */
    /* background-color: pink; */
}

/* -----------------------------HEADER------------------------------------ */

.responsive-header
{
    display: none;
}

.header{
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    flex: auto;
    /* overflow-x: hidden; Disable horizontal scroll */
    height: 100%;
}

.header-wrapper{
    height: 100%;
    background-color: white;
    /* width: 150px; */
    padding: 10px;
    width: 13%;
}

.navbar img{
    width: 80%;
    height: 80%;
    /* width: 80px;
    height: 80px; */
}

.navbar a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    color: black;
}

.navbar a:hover{
    opacity: 0.6;
}

.header #judul {
    float: left;
    /* width: 650px;
    height: 250px; */
    width: 50%;
    height: 25%;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 1s;
    animation-name: fadeIn;
    animation-duration: 1s;
    /* margin-bottom: 20px; */
}

.navbar{
    text-align: center;
}

/* -----------------------------SIGN UP FORM------------------------------------ */

.string{
    display: none;
}

.sign-up-wrapper{
    float: right;
    /* padding: 0px 50px 100px 50px; */
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1%;
    text-align: center;
    /* height: 400px;
    width: 400px; */
    height: 25%;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 30px;
    font-family: 'Abhaya Libre Regular';
    align-items: center;
    margin-right: 10%;
    margin-top: 5%;
}

.sign-up-wrapper h1{
    margin-bottom: 10%;
    font-weight: normal;
}

.sign-up-field p{
    /* margin-left: 40px;
    margin-right: 40px; */
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    font-family: 'Abhaya Libre Regular';
}

.sign-up-field input{
    background-color: white;
    height: 20px;
    /* width: 310px; */
    width: 80%;
    border: none;
    font-family: 'Abhaya Libre Regular';
}

#sign-up-btn{
    /* height: 70px;
    width: 70px;
    padding-top: 20px; */
    height: 15%;
    width: 15%;
    padding-top: 10%;
    padding-bottom: 0%;
}

#sign-up-btn:hover{
    /* padding-top: 7%;
    padding-bottom: 3%; */
    opacity: 0.5;
}


/* -----------------------------FOOTER------------------------------------ */

.footer{
    /* height: 70px; */
    width: 100%;
    height: 10%;
    text-align: center;
    /* padding: 0px 160px; */
    /* border: 1px solid blue; */
    /* background-image: url(https://i.ibb.co/PY2f0mG/footer.png); */
    background-image: url(assets/footer-transparent.png);
    background-size: cover;
    /* position: absolute; */
    /* background-color: blueviolet; /*-->ini untuk ngecek*/
    /* float: right; */
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    
}

.footer .text{
    float: left;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 2%;
    margin-left: 15%;
    margin-top: 1%;
    /* margin-bottom: 5%; */
    /* background-color: blueviolet; */
    /* float: left; */
    /* position: relative; */ 
    /* margin: 25px 25px 0px 25px; */
}

.footer .more-updates-wrapper{
    /* margin: 0px auto; */
    display: inline-block;
}

.more-updates {
    float: left;
    /* position: relative; */
    /* margin-left: 25px;
    margin-right: 25px; */
}

.social-media {
    float: left;
    display: inline-block;
    padding: 10% 15% 12% 15%;
    /* padding:  1% 1% 1% 1%; */
    /* margin-top: 10px; */
    margin-top: 5%;
    /* height: 30px; */
    height: 5%;
    bottom: 0;
    line-height: 10%;
    align-content: center;
    /* background-color: blueviolet; */
}

.social-media a{
    text-decoration: none;
    color: black;
}

.social-media p{
    display: inline-block;
    margin-bottom: 5%;
}

.footer .text1{
    float: right;
    margin-left: 3%;
    text-align: center;
    display: inline-block;
    margin-bottom: 5%;
    margin-right: 7%;
    margin-top: 0.5%;
    /* background-color: blueviolet; */
}